/*=========Default=========*/
*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --primary: #c4cbbc;
    --secondary: #010111;


}
html {
    font-family: 'Cabin', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
}
/*=========Container=========*/
.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0;

}
/*=========header=========*/
header {
    display: flex;

}