/*=========Default=========*/
*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --primary: #c4cbbc;
    --secondary: #FAFAFA;
    --tertairy: #587D70;
    --quaternairy: #F6ADB2;

}
html {
    font-family: 'Cabin', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary);
}
/*=========Container=========*/
.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0;

}
/*=========header=========*/
header {
    background: var(--primary);
    align-items: center;
}
header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*=========main=========*/
main {
    display: flex;
    justify-content: center;
}




/*=========game=========*/
.game_venster {
    margin: 0;
    padding: 0;
    width: 1080px;
    height: 720px;
    background: #587D70;
    position: relative;
}
#vloer {
    position: absolute;
    background: #573232;
    left: 0;
    bottom: 0;
    width: 1080px;
    height: 150px;
}

/*=========footer=========*/
footer {
    background: var(--primary);
}